cd <!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Spam Classifier</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='spam_id.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
	</head>

	<body>

		<!-- Website Title -->
		<div class="container">
			<h2 class='container-heading'><span>Spam classifer</span> for short messaging service (SMS)</h2>
	        	<div class='description'>
				<p>A Web app that classifies spam messages built using machine learning and delpoyed on Heroku via Flask.</p>
			</div>
		</div>

		<!-- Result -->
		<div class="results">
			{% if prediction== ['spam'] %}
				<h1>Prediction: <span class='danger'>Oops! This is actually a SPAM message.</span></h1>
				<img class="gif" src="{{ url_for('static', filename='spam.webp') }}" alt="SPAM Image">
			{% elif prediction== ['ham'] %}
				<h1>Prediction: <span class='safe'>Fine! This is a non-spam message.</span></h1>
				<img class="gif" src="{{ url_for('static', filename='thumb_up.webp') }}" alt="Not a spam image">
			{% endif %}
		</div>

		<!-- Footer -->
        <div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://github.com/SAB-6/Spam-Classification"><i class="fab fa-github fa-lg contact-icon"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/shereefbankole/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
            </div>
            <p class='footer-description'>Created ❤️ by Shereef.</p>
        </div>

	</body>
</html>
